* {
    margin: 0;
    padding: 0;
}


#EUU {
    position: fixed;
    border-radius: 20%;
    left: 30px;
    top: 80px;
}

.bloco { 
    background-color: rgb(30, 30, 30);
    color: rgb(240, 240, 240);
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.bloco2 {
    background-color: rgb(30, 30, 30);
    color: rgb(240, 240, 240);
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#linksfinais{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
}
        